@page

@using Microsoft.AspNetCore.Identity
@using BallerScout.Areas.Identity
@using BallerScout.Areas.Identity.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using BallerScout.Entities
@inject UserManager<ApplicationUser> UserManager

@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4 class="section-description ml-2">@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row post-frame mb-2 p-0">
    <div class="col-md-12 m-0">
        <form id="profile-form" method="post" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="row">
                <div class="col-md-6 ">
                    @if (Model.ImagePath == null)
                    {
                        <img src="~/ProfilePhotos/empty-profile-picture.png" class="img-thumbnail " />
                    }
                    else
                    {
                        <img src="~/ProfilePhotos/@Model.ImagePath" class="img-thumbnail rounded " />
                    }
                </div>
                <div class=" col-md-6 form-group">
                    <div class="row mt-3">
                        <div class="col-4 form-group">
                            <a asp-action="AllFollowings" asp-controller="User" asp-route-id="@UserManager.GetUserId(User)" class="profile-route-action">
                                <label>Following &nbsp;</label>@Html.DisplayFor(model => model.NumberOfFollowings)
                            </a>
                        </div>
                        <div class="col-4 form-group">
                            <a asp-action="AllFollowers" asp-controller="User" asp-route-id="@UserManager.GetUserId(User)"  class="profile-route-action">
                                <label>Followers &nbsp;</label>@Html.DisplayFor(model => model.NumberOfFollowers)
                            </a>
                        </div>
                        <div class="col-4 form-group">
                            <a asp-action="AllMyPosts" asp-route-id="@UserManager.GetUserId(User)" asp-controller="Post"
                                class="profile-route-action">@Html.DisplayFor(model => model.NumberOfPosts) posts
                            </a>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-md-12">
                            <label asp-for="Input.FirstName"></label>
                            <input asp-for="Input.FirstName" class="form-control" />
                            <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <label asp-for="Input.InputImagePath">Change Profile Photo</label>
                            <br />
                            <input class="input-btn form-control" type="file" name="file" />
                            <span asp-validation-for="Input.InputImagePath" class="text-danger"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row ">
                <div class="col-12">
                    <label>About</label>
                    <input type="text" asp-for="Input.About" class="form-control"/>
                </div>
            </div>
            <div class="col-4 p-0">
                <button id="" type="submit" class="menu-btn mt-2">Save</button>
            </div>
        </form>
        <hr />
        <div class="row mb-1">
            @if (Model.SkillsList == null)
            {
                <div class="text-center mb-2">
                    <a asp-action="AddSkills" asp-controller="Skills" class="btn-success btn">Add Skills</a>
                </div>
            }
            else if(Model.Position != "GK")
            {
                <div class="col-md-6 d-flex col-sm-12 m-0 p-0 mb-2">
                    <div class="col-md-4 col-4">
                        <span>Shooting @Html.DisplayFor(model => model.SkillsList.Shooting)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Dribbling @Html.DisplayFor(model => model.SkillsList.Dribbling)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Pace @Html.DisplayFor(model => model.SkillsList.Pace)</span>
                    </div>
                </div>
                <div class="col-md-6 d-flex col-sm-12  m-0 p-0">
                    <div class="col-md-4 col-4">
                        <span>Passing @Html.DisplayFor(model => model.SkillsList.Passing)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Physical @Html.DisplayFor(model => model.SkillsList.Physical)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Defending @Html.DisplayFor(model => model.SkillsList.Defending)</span>
                    </div>
                </div>
            }
            else
            {
                <div class="col-md-6 d-flex col-sm-12 m-0 p-0 mb-2">
                    <div class="col-md-4 col-4">
                        <span>Shooting @Html.DisplayFor(model => model.SkillsList.Diving)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Dribbling @Html.DisplayFor(model => model.SkillsList.Handling)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Pace @Html.DisplayFor(model => model.SkillsList.Reflexes)</span>
                    </div>
                </div>
                <div class="col-md-6 d-flex col-sm-12 m-0 p-0">
                    <div class="col-md-4 col-4">
                        <span>Passing @Html.DisplayFor(model => model.SkillsList.Speed)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Physical @Html.DisplayFor(model => model.SkillsList.Positioning)</span>
                    </div>
                    <div class="col-md-4 col-4">
                        <span>Defending @Html.DisplayFor(model => model.SkillsList.Kicking)</span>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/JS for Scaffolded/Scaffold.js"></script>
}