@using BallerScout.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model IEnumerable<BallerScout.Models.ApplicationUserModel>

<div class="row">
    <div class="col-md-12">
        @foreach (var user in Model)
        {
            var userId = user.Id;
            var userProfile = await UserManager.FindByIdAsync(userId);
            var singInUser = await UserManager.GetUserAsync(User);
            <div class="row">
                <div class="col-4">
                    <img src="~/ProfilePhotos/@user.ImgURL" class="profile-img" />
                </div>
                <div class="col-8">
                    <div class="row">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            @if (UserManager.GetUserId(User) == user.Id)
                            {
                                <a asp-area="Identity" asp-page="/Account/Manage/Index">@Html.DisplayFor(model => user.UserName)</a>
                            }
                            else
                            {
                                <a asp-action="UserProfile" asp-controller="User" asp-route-id="@user.Id">@Html.DisplayFor(model => user.UserName)</a>
                            }
                        }
                        else
                        {
                            <a asp-action="/Account/Login" asp-area="Identity">@Html.DisplayFor(model => user.UserName)</a>
                        }
                    </div>
                    <div class="row">
                        <div class="col-4">
                            <p>@Html.DisplayFor(model => user.Position)</p>
                        </div>
                        <div class="col-4">
                            <p>@Html.DisplayFor(model => user.Foot)</p>
                        </div>
                        <div class="col-4">
                            <p>@Html.DisplayFor(model => user.Club)</p>
                        </div>
                    </div>
                    
                </div>
            </div>
        }
    </div>
</div>