@using Microsoft.AspNetCore.Identity
@using BallerScout.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject BallerScout.Service.ServiceInterfaces.ISavedPostService SavedPostService
@inject BallerScout.Service.ServiceInterfaces.IUploadImageService UploadImageService
@inject BallerScout.Service.ServiceInterfaces.ILikeService LikeService

@model IEnumerable<BallerScout.Entities.Post>
@{
    ViewData["title"] = "MyPosts";
    var signInUser = await UserManager.GetUserAsync(User);
}

<div class="row">
    <a asp-controller="Post" asp-action="AddPost" class="btn btn-primary">Add Post</a>
</div>
<div class="row col-12">
    @foreach (var post in Model)
    {
    <div class="col-md-12 border-top text-center p-5">
        <div class="row d-flex">
            <img src="~/ProfilePhotos/@post.UserProfilePhoto" class="profile-img" />
            @if (UserManager.GetUserId(User) == post.UserId)
            {
                <a asp-area="Identity" asp-page="/Account/Manage/Index">@Html.DisplayFor(model => post.UserName)</a>
            }
            else
            {
                <a asp-action="UserProfile" asp-controller="User" asp-route-id="@post.UserId">@Html.DisplayFor(model => post.UserName)</a>
            }
        </div>
        @if (post.PhotoUrl != null)
        {

            var isImage = UploadImageService.IsImage(post.PhotoUrl);

            if (isImage == true)
            {
                <div class="row">
                    <img src="~/PostsPhotos/@post.PhotoUrl" class="img-fluid w-75" />
                </div>
            }
            else
            {
                <div class="row">
                    <video id="video" controls style="width:60%; height:auto">
                        <source src="~/PostsPhotos/@post.PhotoUrl" type="video/mp4">
                        <source src="~/PostsPhotos/@post.PhotoUrl" type="video/ogg">
                        @*Your browser does not support the video tag.*@
                    </video>
                </div>
            }

            <div class="row d-flex">
                <div class="col-md-3">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var like = LikeService.LikeCheck(post.PostId, signInUser.Id);

                        if (like == null)
                        {
                            <button id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 btn-danger"><i class="far fa-futbol"></i></button> }
                        else
                        {
                            <button id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 btn-success"><i class="far fa-futbol"></i></button> }
                    }
                    else
                    {
                        <a id="index-like-Btn" asp-area="Identity" asp-page="/Account/Login" class="border-0 btn-danger"><i class="far fa-futbol"></i></a>
                    }
                    <span>
                        <a asp-action="PostLikesList" asp-controller="Post" asp-route-postid="@post.PostId">
                            @Html.DisplayFor(model => post.NumberOfLikes)&nbsp;Likes
                        </a>
                    </span>
                </div>
                <div class="col-md-3">
                    <span>@Html.DisplayFor(model => post.DatePostedString)</span>
                </div>
                <div class="col-md-6 text-right">
                    @{
                        var postSavedCheck = SavedPostService.SavedCheck(UserManager.GetUserId(User), post.PostId);
                    }
                    @if (postSavedCheck == true)
                    {
                        <button class="btn-danger" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark"></i></button>
                    }
                    else
                    {
                        <button class="btn-light" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark"></i></button>
                    }
                </div>
            </div>
            <div class="row d-flex">
                <p>@Html.DisplayFor(model => post.Description)</p>
            </div>
        }
        else
        {
            <div class="row">
                <div class="text-left form-control">
                    <h5>@Html.DisplayFor(model => post.Description)</h5>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 text-left ">
                    @if (SignInManager.IsSignedIn(User))
                    {
                        var like = LikeService.LikeCheck(post.PostId, signInUser.Id);

                        if (like == null)
                        {
                            <button id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 btn-danger"><i class="far fa-futbol"></i></button> }
                        else
                        {
                            <button id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 btn-success"><i class="far fa-futbol"></i></button> }
                    }
                    else
                    {
                        <a id="index-like-Btn" asp-area="Identity" asp-page="/Account/Login" class="border-0 btn-danger"><i class="far fa-futbol"></i></a>
                    }
                    <span>
                        <a asp-action="PostLikesList" asp-controller="Post" asp-route-postid="@post.PostId">
                            @Html.DisplayFor(model => post.NumberOfLikes)&nbsp;Likes
                        </a>
                    </span>
                </div>
                <div class="col-md-2 text-left ">
                    <span>@Html.DisplayFor(model => post.DatePostedString)</span>
                </div>
                <div class="col-md-8 text-right">
                    @{
                        var postSavedCheck = SavedPostService.SavedCheck(UserManager.GetUserId(User), post.PostId);
                    }
                    @if (postSavedCheck == true)
                    {
                        <button class="btn-danger" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark"></i></button>
                    }
                    else
                    {
                        <button class="btn-light" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark"></i></button>
                    }
                </div>
            </div>
        }
    </div>
    }
</div>

@section Scripts{
    <script src="~/js/Profile.js"></script>
    <script src="~/js/Post.js"></script>
}