@using Microsoft.AspNetCore.Identity
@using BallerScout.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject BallerScout.Service.ServiceInterfaces.IFollowingService FollowingService
@inject BallerScout.Service.ServiceInterfaces.ISavedPostService SavedPostService
@inject BallerScout.Service.ServiceInterfaces.ILikeService LikeService
@inject BallerScout.Service.ServiceInterfaces.IUploadImageService UploadImageService

@model IEnumerable<BallerScout.Entities.Post>
@{
    ViewData["Title"] = "Home Page";
}

<!-- Section Search -->
<div class="row border-section section-bgc d-flex ">
    @if (SignInManager.IsSignedIn(User))
    {
        <div class="col-3  mt-2 mb-2">
            <a asp-controller="Post" asp-action="AddPost" class="btn btn-info form-control">Add Post</a>
        </div>
        <div class="col-8 mt-2 mb-2">
            <span class="section-description">Post Your Newest Achievement Now</span>
        </div>
    }
</div>
<div class="row border-section section-bgc" id="Posts">
    <div class="col-12">
        @foreach (var post in Model)
        {
            var userId = post.UserId;
            var user = await UserManager.FindByIdAsync(userId);

            <div class="row mt-2 posts-padding post-frame">
                <div class="col-12">
                    <div class="row d-flex post-user-section">
                        <div class="col-2 text-center">
                            <img src="~/ProfilePhotos/@post.UserProfilePhoto" class="profile-img" />
                        </div>
                        <div class="col-10 pl-3rem-sm">
                            <div class="row">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    if (UserManager.GetUserId(User) == post.UserId)
                                    {
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index">@Html.DisplayFor(model => post.UserName)</a>
                                    }
                                    else
                                    {
                                        <a asp-action="UserProfile" asp-controller="User" asp-route-id="@post.UserId">@Html.DisplayFor(model => post.UserName)</a>
                                    }
                                }
                                else
                                {
                                    <a asp-action="UserProfile" asp-controller="User" asp-route-id="@post.UserId"> @Html.DisplayFor(model => post.UserName)</a>
                                }
                            </div>
                            @if (post.UserClub != null && post.UserPosition != null)
                            {
                                <div class="row">
                                    <span>@Html.DisplayFor(model => post.UserPosition) in @Html.DisplayFor(model => post.UserClub)</span>
                                </div>
                            }
                        </div>
                    </div>
                    @if (post.PhotoUrl != null)
                    {
                        var isImage = UploadImageService.IsImage(post.PhotoUrl);

                        if (isImage == true)
                        {
                            <div class="row bg-white text-center justify-content-center">
                                <div class="col-9">
                                    <img src="~/PostsPhotos/@post.PhotoUrl" decoding="auto" class="post-image" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row bg-white text-center justify-content-center">
                                <video id="video" controls decoding="auto" class="post-image">
                                    <!-- <video id="video" controls style="width:60%; height:auto"> -->
                                    <source src="~/PostsPhotos/@post.PhotoUrl" type="video/mp4">
                                    <source src="~/PostsPhotos/@post.PhotoUrl" type="video/ogg">
                                    <!-- Your browser does not support the video tag. -->
                                </video>
                            </div>
                        }
                        <div class="row d-flex post-bottom-section">
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var like = LikeService.LikeCheck(post.PostId, UserManager.GetUserId(User));

                                    if (like == null)
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 like-btn-clicked  post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="index-like-Btn" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</a>
                                }
                                <span>
                                    <a asp-action="PostLikesList" asp-controller="Post" asp-route-postid="@post.PostId" class="post-fontSize see-likes">
                                        @Html.DisplayFor(model => post.NumberOfLikes)&nbsp;Likes&nbsp;&nbsp;
                                    </a>
                                </span>
                            </div>
                            <div class="">
                                <span class="post-fontSize">@Html.DisplayFor(model => post.DatePostedString)&nbsp;&nbsp;</span>
                            </div>
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    var postSavedCheck = SavedPostService.SavedCheck(UserManager.GetUserId(User), post.PostId);

                                    @if (postSavedCheck == true)
                                    {
                                        <span class="like-btn-clicked post-fontSize border-0" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark "></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="like-btn post-fontSize border-0" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="fas fa-bookmark"></i>&nbsp;</a>
                                }

                            </div>
                            <div class="col-12 d-flex border-top border-white mt-1">
                                <p class="post-fontSize font-weight-bold m-0">@Html.DisplayFor(model => post.Description)</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row bg-white">
                            <span class="post-transfer">@Html.DisplayFor(model => post.Description)</span>
                        </div>
                        <div class="row d-flex post-bottom-section">
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var like = LikeService.LikeCheck(post.PostId, UserManager.GetUserId(User));

                                    if (like == null)
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@post.PostId)" class="border-0 like-btn-clicked  post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="index-like-Btn" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</a>
                                }
                                <span>
                                    <a asp-action="PostLikesList" asp-controller="Post" asp-route-postid="@post.PostId" class="post-fontSize see-likes">
                                        @Html.DisplayFor(model => post.NumberOfLikes)&nbsp;Likes&nbsp;&nbsp;
                                    </a>
                                </span>
                            </div>
                            <div class="">
                                <span class="post-fontSize">@Html.DisplayFor(model => post.DatePostedString)&nbsp;&nbsp;</span>
                            </div>
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    var postSavedCheck = SavedPostService.SavedCheck(UserManager.GetUserId(User), post.PostId);

                                    @if (postSavedCheck == true)
                                    {
                                        <span class="like-btn-clicked post-fontSize border-0" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark "></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="like-btn post-fontSize border-0" onclick="savePost(@post.PostId)"><i class="fas fa-bookmark"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="fas fa-bookmark"></i>&nbsp;</a>
                                }

                            </div>
                        </div>
                    }

                </div>
            </div>
        }
    </div>
</div>

@section Scripts{
    <link href="~/css/site.css" />
    <script src="~/js/site.js"></script>
    <script src="~/js/Post.js"></script>
}

