@using Microsoft.AspNetCore.Identity
@using BallerScout.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@inject BallerScout.Service.ServiceInterfaces.IUploadImageService UploadImageService
@inject BallerScout.Service.ServiceInterfaces.ISavedPostService SavedPostService
@inject BallerScout.Service.ServiceInterfaces.ILikeService LikeService


@model BallerScout.Entities.Post

<div class="row border-section section-bgc">
    <div class="col-12">
        <div class="row border-bottom">
            <span class=" section-description pl-5">Are You Sure You Want to Delete This Post</span>
        </div>
        <div class="row border-bottom">
            <span class="post-fontSize text-danger pl-5">If you Delete this Post, it will be deleted permenantly </span>
        </div>
        @{ 
            var userId = Model.UserId;
            var user = await UserManager.FindByIdAsync(userId);

        }
           
            <div class="row mt-2 posts-padding post-frame">
                <div class="col-12">
                    <div class="row d-flex post-user-section">
                        <div class="col-2 text-center">
                            <img src="~/ProfilePhotos/@Model.UserProfilePhoto" class="profile-img" />
                        </div>
                        <div class="col-10 pl-3rem-sm">
                            <div class="row">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var signInUser = await UserManager.GetUserAsync(User);

                                    if (UserManager.GetUserId(User) == Model.UserId)
                                    {
                                        <a asp-area="Identity" asp-page="/Account/Manage/Index">@Html.DisplayFor(model => model.UserName)</a>
                                    }
                                    else
                                    {
                                        <a asp-action="UserProfile" asp-controller="User" asp-route-id="@Model.UserId">@Html.DisplayFor(model => model.UserName)</a>
                                    }
                                }
                                else
                                {
                                    <a asp-action="UserProfile" asp-controller="User" asp-route-id="@Model.UserId">@Html.DisplayFor(model => model.UserName)</a>
                                }
                            </div>
                            @if(Model.UserClub != null && Model.UserPosition != null)
                            {
                                <div class="row">
                                    <span>@Html.DisplayFor(model => model.UserPosition) in @Html.DisplayFor(model => model.UserClub)</span>
                                </div>
                            }
                            
                        </div>
                    </div>
                    @if (Model.PhotoUrl != null)
                    {
                        var isImage = UploadImageService.IsImage(Model.PhotoUrl);

                        if (isImage == true)
                        {
                            <div class="row bg-white text-center justify-content-center">
                                <div class="col-9">
                                    <img src="~/PostsPhotos/@Model.PhotoUrl" decoding="auto" class="post-image" />
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="row bg-white text-center justify-content-center">
                                <video id="video" controls decoding="auto" class="post-image">
                                    <!-- <video id="video" controls style="width:60%; height:auto"> -->
                                    <source src="~/PostsPhotos/@Model.PhotoUrl" type="video/mp4">
                                    <source src="~/PostsPhotos/@Model.PhotoUrl" type="video/ogg">
                                    <!-- Your browser does not support the video tag. -->
                                </video>
                            </div>
                        }
                        <div class="row d-flex post-bottom-section">
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var like = LikeService.LikeCheck(Model.PostId, UserManager.GetUserId(User));

                                    if (like == null)
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@Model.PostId)" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@Model.PostId)" class="border-0 like-btn-clicked  post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="index-like-Btn" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</a>
                                }
                                <span>
                                    <a asp-action="PostLikesList" asp-controller="Post" asp-route-postid="@Model.PostId" class="post-fontSize see-likes">
                                        @Html.DisplayFor(model => model.NumberOfLikes)&nbsp;Likes&nbsp;&nbsp;
                                    </a>
                                </span>
                            </div>
                            <div class="">
                                <span class="post-fontSize">@Html.DisplayFor(model => model.DatePostedString)&nbsp;&nbsp;</span>
                            </div>
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    var postSavedCheck = SavedPostService.SavedCheck(UserManager.GetUserId(User), Model.PostId);

                                    @if (postSavedCheck == true)
                                    {
                                        <span class="like-btn-clicked post-fontSize border-0" onclick="savePost(@Model.PostId)"><i class="fas fa-bookmark "></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="like-btn post-fontSize border-0" onclick="savePost(@Model.PostId)"><i class="fas fa-bookmark"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="fas fa-bookmark"></i>&nbsp;</a>
                                }

                            </div>
                            <div class="col-12 d-flex border-top border-white mt-1">
                                <p class="post-fontSize font-weight-bold m-0">@Html.DisplayFor(model => model.Description)</p>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="row bg-white">
                            <span class="post-transfer">@Html.DisplayFor(model => model.Description)</span>
                        </div>
                        <div class="row d-flex post-bottom-section">
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {
                                    var like = LikeService.LikeCheck(Model.PostId, UserManager.GetUserId(User));

                                    if (like == null)
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@Model.PostId)" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span id="index-like-Btn" onclick="clickLike(@Model.PostId)" class="border-0 like-btn-clicked  post-fontSize"><i class="far fa-futbol"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="index-like-Btn" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="far fa-futbol"></i>&nbsp;</a>
                                }
                                <span>
                                    <a asp-action="PostLikesList" asp-controller="Post" asp-route-postid="@Model.PostId" class="post-fontSize see-likes">
                                        @Html.DisplayFor(model => model.NumberOfLikes)&nbsp;Likes&nbsp;&nbsp;
                                    </a>
                                </span>
                            </div>
                            <div class="">
                                <span class="post-fontSize">@Html.DisplayFor(model => model.DatePostedString)&nbsp;&nbsp;</span>
                            </div>
                            <div class="">
                                @if (SignInManager.IsSignedIn(User))
                                {

                                    var postSavedCheck = SavedPostService.SavedCheck(UserManager.GetUserId(User), Model.PostId);

                                    @if (postSavedCheck == true)
                                    {
                                        <span class="like-btn-clicked post-fontSize border-0" onclick="savePost(@Model.PostId)"><i class="fas fa-bookmark "></i>&nbsp;</span>
                                    }
                                    else
                                    {
                                        <span class="like-btn post-fontSize border-0" onclick="savePost(@Model.PostId)"><i class="fas fa-bookmark"></i>&nbsp;</span>
                                    }
                                }
                                else
                                {
                                    <a id="" asp-area="Identity" asp-page="/Account/Login" class="border-0 like-btn post-fontSize"><i class="fas fa-bookmark"></i>&nbsp;</a>
                                }

                            </div>
                        </div>
                    }

                </div>
            </div>
    </div>
    <form asp-action="MyPostDelete">
        <div class="row ml-4">
            <input type="hidden" asp-for="PostId" />
            <input type="submit" class="btn btn-danger mr-5" value="DELETE" />
            <a asp-action="AllMyPosts">Back to List</a>
        </div>
    </form>
</div>
