@using Microsoft.AspNetCore.Identity
@using BallerScout.Entities
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@model BallerScout.Models.SkillsModel

@{
    var user = await UserManager.GetUserAsync(User);
}
<div class="row section-bgc border-section">
    <div class="col-12 border-bottom">
        <span class="section-description ml-3 mt-2 mb-2">Edit Skills</span>
    </div>
    <form method="post" class="col-12">
        <div class="post-frame mt-1">
            @if (user.Position == "GK")
            {
                <div class="form-group">
                    <label>Diving</label>
                    <span>@Html.DisplayFor(model => model.Diving)</span>
                    <input class="form-control" asp-for="Diving" type="number" />
                    <span asp-validation-for="Diving" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Handling</label>
                    <span>@Html.DisplayFor(model => model.Handling)</span>
                    <input class="form-control" asp-for="Handling" type="number" />
                    <span asp-validation-for="Handling" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label>Kicking</label>
                    <span>@Html.DisplayFor(model => model.Kicking)</span>
                    <input class="form-control" asp-for="Kicking" type="number" />
                    <span asp-validation-for="Kicking" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label>Positioning</label>
                    <span>@Html.DisplayFor(model => model.Positioning)</span>
                    <input class="form-control" asp-for="Positioning" type="number" />
                    <span asp-validation-for="Positioning" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label>Reflexes</label>
                    <span>@Html.DisplayFor(model => model.Reflexes)</span>
                    <input class="form-control" asp-for="Reflexes" type="number" />
                    <span asp-validation-for="Reflexes" class="text-danger"></span>
                </div>
                <div class="form-group 2">
                    <label>Speed</label>
                    <span>@Html.DisplayFor(model => model.Speed)</span>
                    <input class="form-control" asp-for="Speed" type="number" />
                    <span asp-validation-for="Speed" class="text-danger"></span>
                </div>
            }
            else
            {
                <div class="form-group ">
                    <label>Dribbling</label>
                    <span>@Html.DisplayFor(model => model.Dribbling)</span>
                    <input class="form-control" asp-for="Dribbling" type="number" />
                    <span asp-validation-for="Dribbling" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label>Shooting</label>
                    <span>@Html.DisplayFor(model => model.Shooting)</span>
                    <input class="form-control" asp-for="Shooting" type="number" />
                    <span asp-validation-for="Shooting" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label>Passing</label>
                    <span>@Html.DisplayFor(model => model.Passing)</span>
                    <input class="form-control" asp-for="Passing" type="number" />
                    <span asp-validation-for="Passing" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label>Pace</label>
                    <span>@Html.DisplayFor(model => model.Pace)</span>
                    <input class="form-control" asp-for="Pace" type="number" />
                    <span asp-validation-for="Pace" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label>Defending</label>
                    <span>@Html.DisplayFor(model => model.Defending)</span>
                    <input class="form-control" asp-for="Defending" type="number" />
                    <span asp-validation-for="Defending" class="text-danger"></span>
                </div>
                <div class="form-group ">
                    <label>Physics</label>
                    <span>@Html.DisplayFor(model => model.Physical)</span>
                    <input class="form-control" asp-for="Physical" type="number" />
                    <span asp-validation-for="Physical" class="text-danger"></span>
                </div>
            }
            <input asp-for="UserFullName" type="hidden" />
            <input asp-for="UserId" type="hidden" />
            <input asp-for="SkillStatsId" type="hidden" />
            <div class="col-12">
                <input type="submit" class="btn btn-success" value="Save">
                <a asp-action="Index" class="ml-3">Back To List</a>
            </div>
        </div>
    </form>
</div>
